.page {
    margin: 0 auto;
    max-width: 880px;
    min-width: 320px;
    background-color: #000000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: white;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 45px 0 60px;
    position: relative;
  }
  
  @media screen and (max-width: 523px) {
    .page {
      padding: 28px 0 36px;
    }
  }
  