.page {
    margin: 0 auto;
    padding: 0;
    max-width: 880px;
    min-width: 320px;
    min-height: 100vh;
    background-color: #000000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: white;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  }
