.profile__button-edit {
    background-image: url("./../../../images/edit_button.svg");
    background-position: center;
    background-color: black;
    border: 1px solid white;
    object-fit: cover;
    min-width: 24px;
    height: 24px;
    transition: opacity .1s ease-in;
}

.profile__button-edit:hover {
    opacity: .6;
}

@media screen and (max-width: 550px) {
  .profile__button-edit {
    min-width: 18px;
    height: 18px;
  }
}
