.header__logo {
    object-fit: contain;
    max-height: 33px;
}

@media screen and (max-width: 920px) {
  .header__logo {
      padding: 0 0 0 19px;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
      padding: 0 0 0 27px;
      max-height: 24.4px;
  }
}
