.header {
    margin: 45px 0 0;
    padding: 0;
    min-height: 74px;
    border-bottom: 1px solid rgba(54, 54, 54, .7);
    box-sizing: border-box;
}

@media screen and (max-width: 899px) {
    .header {
        min-height: 56px;
    }
}

  @media screen and (max-width: 550px) {
    .header {
      margin: 28px 0 0;
    }
  }
