.form__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  /* margin: 0 0 30px; */
  margin: 0;
  padding: 0 0 13px;
  min-height: 27px;
}

/* .form_input:last-of-type {
  margin: 0 0 48px;
} */

/* @media screen and (max-width: 550px) {
  .popup__input:last-of-type {
    margin: 0 0 45px;
  }
} */

