.profile__info {
    display: flex;
    flex-direction: column;
    min-height: 73px;
    max-width: 400px;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .profile__info {
    max-width: 350px;
  }
 }

@media screen and (max-width: 550px) {
 .profile__info {
    min-height: 54px;
    max-width: 282px;
 }
}

