.form__button-save {
  border-radius: 2px;
  max-width: 100%;
  min-height: 50px;
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  transition: opacity .1s ease-in;
}

.form__button-save:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 550px) {
  .form__button-save {
      min-height: 46px;
      font-size: 14px;
      line-height: 1.21;
  }
}
